html {
  background-color: black;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.metatron {
  top: 15%;
  /* absolute - places the image "on top" of everything else */
  position: absolute;
  /* linear - timing option with no sudden changes */
  /* infinite - the animation repeats forever */
  /* alternate - The animation reverses direction every cycle. 
    On each odd cycle, the animation plays forward (0% to 100%). 
    On each even cycle, the animation plays backwards (100% to 0%). */
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: metatron;
  /* how long the lifecycle of the animation should last */
  -webkit-animation-duration: 5s;
}

.doggo {
  top: 25%;
  position: absolute;
  -webkit-animation: ease-out infinite alternate;
  -webkit-animation-name: doggo;
  -webkit-animation-duration: 5s;
}

.napstablook {
  top: 15%;
  position: absolute;
  -webkit-animation: ease-in-out infinite alternate;
  -webkit-animation-name: napstablook;
  -webkit-animation-duration: 5s;
}

.undertale {
  bottom: 0;
  right: 0;
  position: absolute;
}

/* Specify when the style change will happen in percent, or with the keywords "from" and "to"
which is the same as 0% and 100%. 
0% is the beginning of the animation, 100% is when the animation is complete. */
@-webkit-keyframes metatron {
  0% {
    left: 200px;
  }
  50% {
    left: 500px;
  }
  100% {
    left: 200px;
  }
}

@-webkit-keyframes doggo {
  0% {
    left: 300px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: 300px;
  }
}

@-webkit-keyframes napstablook {
  0% {
    left: 100px;
    opacity: 0.5;
  }
  50% {
    left: 400px;
    opacity: 1;
  }
  100% {
    left: 100px;
    opacity: 0.5;
  }
}
