html {
  background-color: black;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* .spooky {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
} */

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.gastly {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}

.haunter {
  bottom: 0;
  left: 20px;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}

/* 
.gengar {
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
} */

@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 70%;
  }
  70% {
    left: 0;
  }
}
